.btn-outline-purple {
    border: .1rem solid #D1C4E9;
    color: #a986e9;
    border-radius: 10%;
}

.nav-link {
    color: #b399e2;
}

.active {
    color: #9063e4;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
}