.btn-outline-purple {
    border: .1rem solid #D1C4E9;
    color: #a986e9;
}

.btn-outline-purple:hover {
    background: #a986e9;
    color: white;
}

.text-danger {
    font-size: 0.85rem;
}